<mat-horizontal-stepper *ngIf="field" [linear]="true">
  <div *ngFor="let step of field.fieldGroup; let index = index; let last = last;">
    <mat-step
      (interacted)="interacted($event, step)"
      [completed]="checkEditable(index, step)"
      [editable]="checkEditable(index, step)"
    >
      <ng-template matStepLabel>{{ step.templateOptions?.label }}</ng-template>
      <!--Stepper должен быть отдельно -->
      <formly-field [field]="step"></formly-field>

      <div>
        <button *ngIf="index !== 0" class="btn btn-primary"
                matStepperPrevious
                type="button">
          Back
        </button>

        <button *ngIf="!last" [disabled]="!isValid(step)"
                class="btn btn-primary mr-2" matStepperNext
                type="button">
          Cancel
        </button>

        <button *ngIf="!last" [disabled]="!isValid(step)"
                class="btn btn-primary" matStepperNext
                type="button">
          Next Step
        </button>

        <button *ngIf="last" [disabled]="!form.valid"
                class="btn btn-primary"
                type="submit">
          Save
        </button>
      </div>
    </mat-step>
  </div>

</mat-horizontal-stepper>
