<div class="container" style="margin: 0 auto;">

  <div class="row mt-3">
    <div class="col">
      <app-step></app-step>
    </div>
  </div>

  <div class="row mt-3">
    <app-info [configs$]="configs$" class="col" title="Source Information"></app-info>
    <app-info [configs$]="configs$" class="col" title="Last information"></app-info>
  </div>

  <div class="row mt-3">
    <div class="col">
      <app-form></app-form>
      <form (ngSubmit)="submit()" [formGroup]="form">

        <formly-form [fields]="fields" [form]="form" [model]="mainModel.model" [options]="options"></formly-form>
      </form>
    </div>
  </div>
</div>
